version: "3.9"

services:
  backend:
    image: petclinic:latest
    build: .
    environment:
      SPRING_MYSQL_URL: ${SPRING_MYSQL_URL}
      SPRING_MYSQL_USERNAME: ${SPRING_MYSQL_USERNAME}
      SPRING_MYSQL_PASSWORD: ${SPRING_MYSQL_PASSWORD}
    ports:
      - "${SERVER_PORT}:8080"

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
