  version: '3.8'
  services: 
    application:
        image: petclinic:latest
        build: . 
        environment: 
          SPRING_MYSQL_URL: ${SPRING_MYSQL_URL}
          SPRING_MYSQL_USERNAME: $(SPRING_MYSQL_USERNAME)
          SPRING_MYSQL_PASSWORD: $(SPRING_MYSQL_PASSWORD)
        ports: 
          - "${SERVER_PORT}:8080"
        networks:
          - tapash-net
        depends_on: 
          - mysql 

    mysql: 
        image: mysql:latest
        environment: 
          MYSQL_ROOT_PASSWORD: $(MYSQL_ROOT_PASSWORD)
          MYSQL_DATABASE: $(MYSQL_DATABASE)
          MYSQL_USER: ${MYSQL_USER}
          MYSQL_PASSWORD: $(MYSQL_PASSWORD)
        ports: 
          - "3306:3306"
        volumes: 
          - mysql_vol:/var/lib/mysql
          
  volumes: 
    mysql_vol: 
  networks: 
    tapash-net: 



